$text_color_primary: rgb(255,255,255);
$text_color_secondary: rgb(0, 0, 0);
$text_color_third: rgb(156, 91, 91);

$background_color: rgb(48, 68, 87);
$aboutcard_background_color: rgb(114, 47, 55);
$linkcard_background_color: rgb(35, 50, 73);
$linkcard_hover_background_color: rgb(47, 68, 100);
$projectcard_background_color: rgb(40, 48, 59);
$projectcard_hover_background_color: rgb(85, 48, 48);
$projectcard_verticalLine_color: rgb(209, 209, 209);

