@import "colorThemes";

#HomepageContainer {
	min-height: 100vh;
	padding: 50px 0px 0px 0px;
	text-align: center;

	h1 {
		color: $text_color_secondary;
		font-family: "Georgia", "Times New Roman", "Times";
	}

	p {
		color: $text_color_primary;
		font-family: "Georgia", "Times New Roman", "Times";
	}
}

#HomepageToTopButton {
	right: 25px;
	bottom: 25px;
	position: fixed;
	display: none;
}

#HomepageTitle {
	margin: auto;
	width: 300px;

	h1 {
		font-size: 40px;
		font-family: "Courier New", "Courier";
		overflow: hidden;
		border-right: 0.05em solid transparent; /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto 35px auto; /* Gives that scrolling effect as the typing happens */
		letter-spacing: 0.15em; /* Adjust as needed */
		animation: typing 4s steps(10, end), blink-caret 0.75s step-end 10;
	}
}

#FaButtonIcon {
	font-size: 22px;
}

#FaButtonIconLarge {
	font-size: 18px;
}

@media only screen and (min-width: 840px) {
	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}

	@keyframes blink-caret {
		from,
		to {
			border-color: transparent;
		}
		50% {
			border-color: $text_color_secondary;
		}
	}
}

@media only screen and (max-width: 840px) {
	#HomepageContainer {
		padding: 5px 0px 0px 0px;
	}
	#HomepageTitle {
		margin: 20px 0 20px 0;

		h1 {
			font-size: 2em;
			width: 96vw;
			margin: 0;
		}
	}
}
