#AboutCardContainer{
    margin: 10px auto auto auto;
    background-color: rgb(114, 47, 55);
    width: 80%;
    height: 100%;
    min-height: 300px;
    /*box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);*/
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 3fr 1fr;

}

#AboutCardInfoBox{
    margin: auto;
}
#AboutCardInfoBox h3{
    color: rgb(34, 37, 41);
    font-family: 'Georgia', 'Times New Roman', 'Times';
}
#AboutCardInfoBox a{
    text-decoration: none;
    color: rgb(34, 37, 41);
    font-family: 'Georgia', 'Times New Roman', 'Times';
}


#AboutCardImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 10% 0%);
}

#AboutCardContainer h1{
    color: rgb(255, 255, 255);
    font-family: 'Georgia', 'Times New Roman', 'Times';
}
#AboutCardContainer h3{
    color: rgb(216, 202, 202);
    font-family: 'Georgia', 'Times New Roman', 'Times';
}
#AboutCardContainer h2{
    color: rgb(225, 225, 225);
    font-family: 'Georgia', 'Times New Roman', 'Times';
}
#AboutCardContainer p{
    color: rgb(203, 202, 202);
    font-family: 'Georgia', 'Times New Roman', 'Times';
}
#AboutCardContainer a:hover{
    color: rgb(59, 59, 59);
}
@Media only screen and (max-width: 1200px){
    #AboutCardContainer{
        width: 95%;
        height: 100%;
        grid-template-columns: 2fr 1fr;
        min-height: 1px;
    }
}

@Media only screen and (max-width: 840px){
    #AboutCardContainer{
        width: 96%;
        height: 100%;
        grid-template-columns: 1fr;
    }
    /* - for hiding the photo
    #AboutCardImageDiv{
        display:none;
    }
    */
    #AboutCardImage{
        height: 60%;
        width: 60%;
        margin-bottom: 30px;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        object-fit: cover;
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
    }
    #AboutCardInfoBox{
        padding: 20px 5px 20px 5px;
    }
}