#HomepageContainer{
  background-color: rgb(48, 68, 87);
  min-height: 100vh;
  padding: 100px 0px 0px 0px;
  text-align: center;
}

#HomepageContainer h1{
  color: white
}
#HomepageContainer p{
  color: white
}
