#LinkCardContainer{
    margin: 35px auto 35px auto;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.LinkCardBox{
    margin: auto;
    background-color: rgb(35, 50, 73);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.LinkCardIcon{
    color: rgba(204, 204, 204, 0.651);
    width: 30%;
    height: 30%;
    margin: 10% 10% 10% 10%;
}

#LinkCardIcon3{
    width: 28%;
    height: 28%;
}

#LinkCardBox1{
    clip-path: polygon(0% 100%, 90% 100%, 100% 0%, 0% 0%);
    width: 112%;
}
#LinkCardBox2{
    clip-path: polygon(0% 100%, 90% 100%, 100% 0%, 10% 0%);
    width: 111%;
}
#LinkCardBox3{
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 10% 0%);
    width: 100%;
}



.LinkCardBox::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*box-shadow: 0 5px 15px rgba(24, 18, 18, 0.89);*/
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.LinkCardBox:hover {
    -webkit-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07);
    cursor: pointer; 
    z-index: 100;
    background-color: rgb(47, 68, 100);
}

.LinkCardBox:hover::after {
    opacity: 1;
    z-index: 3;
}

@Media only screen and (max-width: 1200px){
    #LinkCardContainer{
        width: 95%;
        height: 100%;
    }
}

@Media only screen and (max-width: 840px){
    #LinkCardContainer{
        margin: 8px auto 0 auto;
        width: 96%;
        height: 100%;
    }
}



/* - This is for the squares with a little bit of margin in between

.LinkCardBox{
    margin: auto;
    background-color: rgba(27, 26, 23, 0.473);
    z-index: 1;
    position: relative;
    width: 95%;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


*/
